.pokemonGrid{
    margin-top: 2vh;
    display: grid;
     
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}
@media screen and (max-width: 1080px) {
    .pokemonGrid{
        margin-top: 2vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
}

@media screen and (max-width: 760px) {
    .pokemonGrid{
        margin-top: 2vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .pokemonGrid{
        margin-top: 2vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

.element{
    padding: 3rem;
}